.main {
  display: flex;
  flex-direction: column;
  font-family: "PT Sans Narrow", sans-serif;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 48px;
}
.item-title {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 1.1rem;
  width: 70%;
  margin-top: 40px;
  margin-bottom: 24px;
  text-shadow: 1px 1px 1px rgb(111, 105, 105);
}

.itemDetailContainer {
  display: flex;
  width: 70%;
  margin: auto;
}

.imgContainer {
  width: 70%;
  height: 80%;
  margin-top: 40px;
}

.imgContainer img {
  height: auto;
  width: 80%;
  margin-top: 32px;
}

.detailContainer {
  width: 50%;
  height: 40%;
  max-width: 400px;
  margin-left: 48px;
  margin-top: 36px;
  margin-bottom: 100px;
  font-size: 1vw;
}

.itemStock {
  font-size: 0.8rem;
  margin-top: 40px;
}

.itemPrice {
  font-size: 1.6rem;
  font-weight: 900;
}

h2 {
  margin-top: 40px;
  font-size: 0.9rem;
}

.productDetails {
  margin-top: 16px;
  padding: 10px;
}

.productDescription {
  margin-top: 16px;
  width: 80%;
  text-align: justify;
  min-height: 60%;
}

.detailContainer button {
  font-size: 0.8rem;
  border: 0px;
  width: 80%;
  max-width: 400px;
  height: 40px;
  border-radius: 8px;
  margin-top: 6%;
  background-color: rgba(49, 49, 213, 0.901);
  cursor: pointer;
  color: white;
}

.detailContainer button:hover {
  background-color: rgba(8, 8, 91, 0.901);
  cursor: pointer;
}
