.underConstruction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 60vh;
}

.underContainer {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondFont {
  font-family: "Bungee Shade", cursive;
}

.fistFont {
  font-family: "Maven Pro", sans-serif;
}

.productos {
  margin-top: 20%;
  font-size: 32px;
}

.main-cart {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  margin: auto;
  margin-top: 10%;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.empty-cart {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.empty-cart h1 {
  font-size: 1.5rem;
  font-family: "Maven Pro", sans-serif;
  color: gray;
}

.empty-cart a {
  font-size: 2rem;
}
