.navBar {
  height: 8vh;
  background-color: #afc2d5;
  display: flex;
  align-items: center;
}

.navBar button {
  margin-left: 6px;
  margin-right: 6px;
  font-size: 15px;
  border: none;
  border-radius: 8px;
  height: 30px;
  width: 80px;
  background-color: #8fa998;
}
